<h1>List of Assignments</h1>
<a class="btn btn-primary" href="/assignments/create">Add a New Assignment</a>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Course Title</th>
            <th scope="col">Type of Work</th>
            <th scope="col">Title of Work</th>
            <th scope="col">Weighted(%)</th>
            <th scope="col">Due Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each assignments}}
        <tr>
            <th>{{this.courseTitle}}</th>
            <th>{{this.typeOfWork}}</th>
            <th>{{this.titleOfWork}}</th>
            <th>{{this.weighted}}</th>
            <th>{{this.dueDate}}</th>
            <th><a href="/assignments/edit/{{this._id}}">Edit</a> |
                <a href="/assignments/delete/{{this._id}}" class="text-danger" onclick="return confirmDelete()">Delete</a>
            </th>
        </tr>
    {{/each}}
    </tbody>
</table>